
###> symfony/framework-bundle ###
/vendor/
###< symfony/framework-bundle ###

###> phpstorm files ###
.idea/
###< phpstorm files ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

.composer.lock

/.php_cs
/.php_cs.cache